In [49]:
# Bases de datos
from pymongo import MongoClient
import pandas as pd
import pymongo
import xmltodict
from datetime import datetime
import time

In [3]:
pwd=open('pw.txt','r')
pw=pwd.read()
cliente=MongoClient('mongodb+srv://api:'+pw.split('\n')[0]+'@clusterdeclaro-tya5c.mongodb.net/test?retryWrites=true&w=majority')
db_api=cliente.api
col_facturas=db_api.facturas

In [52]:
def fechas_ini_fin():
    mes= 12 if time.localtime().tm_mon == 1 else time.localtime().tm_mon - 1
    mes_str = '0'+str(mes) if mes<10 else str(mes)

    anno = time.localtime().tm_year
    if mes in [1,3,5,7,8,10,12]:
        diafin=31
    elif mes in [4,6,9,11]:
        diafin=30
    else:
        if anno%4==0:
            diafin=29
        else:
            diafin=28
    fecha_ini="'01/"+mes_str+"/"+str(int(anno))+"'"
    fecha_fin="'"+str(diafin)+"/"+mes_str+"/"+str(int(anno))+"'"
    return [fecha_ini,fecha_fin,anno,mes,diafin]

In [62]:
usuario='albertoid'

f=fechas_ini_fin()

#start = datetime(2020, 2, 1, 0, 0, 0, 0)
start = datetime(f[2], f[3], 1, 0, 0, 0, 0)
#end = datetime(2020, 2, 29, 23, 59, 59, 999)
end = datetime(f[2], f[3], f[4], 23, 59, 59, 999)

gastos=list(col_facturas.find({'$and':[
                                       {'usuario' : {'$eq':usuario}},
                                       {'fecha'   : {'$gte': start, '$lt': end}},
                                       {'ingreso' : {'$eq': False}}
                                      ]
                               },
                               {'tfd_uuid':1,
                                'emisor_nombre':1,
                                'fecha':1,
                                'subtotal':1,
                                'total':1,
                                '_id':0,
                               }))

ingresos=list(col_facturas.find({'$and':[
                                       {'usuario' : {'$eq':usuario}},
                                       {'fecha'   : {'$gte': start, '$lt': end}},
                                       {'ingreso' : {'$eq': True}}
                                      ]
                               },
                               {'tfd_uuid':1,
                                'emisor_nombre':1,
                                'fecha':1,
                                'subtotal':1,
                                'total':1,
                                '_id':0,
                               }))

In [66]:
df_gastos=pd.DataFrame(gastos)
df_gastos

,fecha,subtotal,total,emisor_nombre,tfd_uuid
0,2020-02-20 20:41:30,0,0,SEGUROS BBVA BANCOMER SA DE CV GRUPO FINANCIER...,CE75FC9E-0C08-450F-8718-D68B5BD432F3
1,2020-02-06 03:13:01,0,0,VOLKSWAGEN LEASING SA DE CV,07E34A31-F229-4FDE-8B73-6C58FFE95028
2,2020-02-15 11:49:21,810.00,939.60,INDUSTRIAL KEM DE LEON S.A. DE C.V.,D2CA5E76-0E1C-4566-B2B4-36BD14359639
3,2020-02-19 13:33:32,6803.46,7109.26,CONSORCIO CIENTIFICO DEL BAJIO SA DE CV,4AEC7B4D-2954-4816-BB6C-F1A583E331D7
4,2020-02-08 18:02:03,919.37,1088.70,UNIDAD LEO SA,08e03124-8741-462b-b13e-7596dc1d1671
5,2020-02-02 09:40:27,4.50,5.22,BANCO INBURSA S.A. INSTITUCION DE BANCA MULTIP...,26bb768c-494b-4b19-89c4-1da75ceffb2e
6,2020-02-24 20:33:24,255.41,296.27,VOLKSWAGEN LEASING SA DE CV,4600FEF1-20BC-4237-8E85-F3237380E9DC
7,2020-02-05 22:41:16,0.01,0.00,"BANCO NACIONAL DE MEXICO, S.A.",D879722B-D298-4750-A4E2-68A95066E603
8,2020-02-22 10:51:52,1297.41,1505.00,"GRUPO TORRES CORZO AUTOMOTRIZ DE MEXICO, S.A. ...",D523314F-41FA-48C4-A2A3-9AD3BB483413

In [67]:
df_ingresos=pd.DataFrame(ingresos)
df_ingresos

Empty DataFrame
Columns: []
Index: []

loaded=False
wait=1
while loaded==False:
    try:
    #Codigo
    loaded=True
    except:
        loaded=False
        time.sleep(wait)
        wait=wait+1
        focus(driver)
        btn_Presentacion=lookuptag(a_elements,'Consultas')
        btn_Presentacion.click()
        print('Waiting in seleccion pestaña Mi Cotablidad... ',wait)
        if wait==max_attempts:
            break

load =False
while load==False:
    try:
        load=True
    except:
        driver.close()
        load=False